.main-header{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin: 50px auto;
}
.main-header h1{
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 10px;
}
.main-header p{
    font-size: 0.8em;
    opacity: 0.7;
}
.main-feature-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.flower{
    width: 33%;
}
.flower img{
    width: 70%;
}
.flower h6{
    text-align: center;
    padding-top: 10px;
    font-size: 1em;
    font-weight: 800;
    text-decoration: 2px underline;
}
#flower1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 21.5em;
    background-color: #ebd7e1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#flower2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 21.5em;
    background-color: #cae7e8;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#flower2 img{
    width: 80%;
}
#flower3{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 21.5em;
    background-color: #dff0cf;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#flower3 img{
    width: 60%;
}
.address-container{
    width: 80%;
    margin: 0 auto;
    height: 220px;
    margin-top: 80px;
    background-color: rgba(132, 124, 124, 0.171);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-radius: 5px;
    margin-bottom: 70px;
}
.group{
    text-align: center;
}
#group2 img{
    width: 33%;
}
#group3 img{
    width: 47%;
}
.group img{
    width: 30%;
    margin-bottom: 20px;
}
.group p{
    opacity: 0.7;
    font-weight: 800;
}
.hot-deal-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f1c2cc44;
    margin-bottom: 80px;
}
.hot-deal-desc{
    width: 30%;
}
.hot-deal-desc h1{
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 20px;
}
.hot-deal-desc p{
    font-size: 0.8em;
    opacity: 0.7;
    padding-bottom: 20px;
}
.hot-deal-img{
    width: 30%;
}
.hot-deal-img img{
    width: 50%;
}
.social-feature-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-bottom: 100px;
}
.social-feature-container img{
    width: 100%;
}
.main-footer-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 95px 0;
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 100px;
}
.main-footer-container h1{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
}
.main-footer-container p{
    opacity: 0.7;
    font-size: 0.8em;
    padding-bottom: 30px;
}
.main-footer-container input{
    /* padding-right: 150px; */
    padding: 12px 280px 12px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}