/* medium large screen */
@media screen and (min-width:768px) and (max-width:1000px){
    .header-container{
        width: 90%;
    }
    .header-desc{
        width: 50%;
    }
    .header-img img{
        width: 100%;
    }
    .main-header{
        width: 70%;
    }
    .main-feature-container{
        width: 90%;
        justify-content: center;
    }
    .flower{
        width: 40%;
    }
    .flower p{
        text-align: center;
    }
    #flower1,#flower2,#flower3 img{
        width: 85%;
    }
    .address-container{
        width: 90%;
    }
    .hot-deal-desc{
        width: 40%;
    }
    .hot-deal-img{
        width: 50%;
    }
}






/* medium screen */
@media screen and (min-width:576px) and (max-width:768px){
    header{
        height: 100%;
    }
    .header-container{
        flex-direction: column;
        width: 100%;
    }
    .header-desc{
        width: 90%;
        text-align: center;
    }
    .header-img{
        width: 100%;
    }
    .header-img img{
        width: 100%;
    }
    .main-header{
        width: 90%;
    }
    .main-feature-container{
        width: 90%;
    }
    .flower{
        width: 35%;
    }
    .flower img{
        width: 80%;
    }
    #flower1,#flower2,#flower3{
        height: 17em;
    }
    .address-container{
        width: 90%;
    }
    .hot-deal-desc{
        width: 40%;
    }
    .hot-deal-img{
        width: 50%;
    }
}





/* small screen */
@media screen and (max-width:576px) {
    header{
        height: 100%;
    }
    .header-container{
        flex-direction: column;
        width: 100%;
    }
    .header-desc{
        width: 90%;
        text-align: center;
    }
    .header-img{
        width: 100%;
    }
    .header-img img{
        width: 100%;
    }
    .main-header{
        width: 90%;
    }
    .main-feature-container{
        flex-direction: column;
    }
    .flower{
        width: 90%;
        margin-bottom: 40px;
    }
    .flower img{
        width: 60%;
    }
    .address-container{
        flex-direction: column;
        height: 100%;
        padding: 20px 0;
    }
    .hot-deal-container{
        flex-direction: column;
    }
    .hot-deal-desc{
        width: 90%;
    }
    .hot-deal-img{
        width: 90%;
        margin-top: 50px;
    }
    .social-feature-container{
        grid-template-columns: repeat(2,1fr);
    }
    .main-footer-container{
        width: 90%;
        padding: 0;
        margin: 0 auto;
       /* background-position: center; */
       /* background-size: cover; */
       /* backface-visibility:visible; */
       padding: 30px 0;
    }
    .main-footer-container input{
        padding: 12px 30px 12px 10px;
    }
    footer{
        margin-top: 60px;
    }
    .footer-container{
        width: 80%;
        margin: 0 auto;
        /* margin-top: 100px; */
    }
}






